<head>
<link rel="stylesheet" type="text/css" href="guestlogincss.css">

<div id="login_form" align="center">
<h1 style="color:Black" align="center">Food Details</h1>
    <form name="f1" method="post" action="/guestlogin1" id="f1">
        <table>
            <tr>
                <td><input type="text" name="fname" placeholder="Type Of Food" value="" id="fname" />
                </td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Amount Of Food" name="lname" value="" id="lname" />
                </td>
            </tr>
               
            <tr>
                <td> City: <select class="dropbtn"> 
    <option value="" selected>Select</option> 
    <option value="Raipur">Raipur</option>
    <option value="Raigarh">Raigarh</option>
    <option value="Jaipur">Jaipur</option></select></td>
            </tr>
        
 
 
        <tr>
            <td colspan="2" align="center"><input type="submit" name="login" value="Submit" style="font-size:18px; " /></td>
        </tr>
                 
                 </table>
                
    </form> 
</div>
</head>