 <head>
 <body >
 <style type="text/css">
 	#login_form {
    position: absolute;
    top: 2%;
    left: 30%;
    right: 30%;
    bottom: 20%;
    font-size: 38px;
    /*border: 1px solid black;*/
    
    
}

body {
    background-image: url("../images/backgrounds-high-resolution-blurred-background1-blur-light-blue.jpg");
    /*background-repeat: no-repeat;*/
}
 </style>
<!-- <link rel="stylesheet" type="text/css" href="/../css/guestlogincss.css"> -->
<!-- <img src=""> -->
<div id="login_form" style="font-size: 30px" align="center" action="/agentguest">
    
    <h3>HUNGRY</h3>
    <h7>Food Waste Management</h7>
    <div style="size: 10px">
    <img src="../images/dove.png" height="80px" width="80px"></div>
    <h6 margin:0; padding:0;> Food you waste is another persons meal<h6>
     <h6 style="color: red"> Willful waste makes woeful wants<h6>
        <!-- <button type="submit" href ="/guestlogin">Guest Login</button> -->
        <div style="font-size: 20px">
        <a  href ="/guestlogin" ><button style="width:20em;  height: 3.5em;background-color: lightgreen;border-radius: ;
border-radius: 15px 50px 30px;">guest login</button></a><br><br><br>
        <a  href ="/agentlogin" ><button style="width:20em;  height: 3.5em;background-color: lightgreen;border-radius: ;
border-radius: 15px 50px 30px;">agent login</button></a>

      </div> 
</div>
</body>
</head>