<head>
<body>
<!-- <link rel="stylesheet" type="text/css" href="../views/guestlogincss.css"> -->
<title>Sign Up</title>
 <style type="text/css">
    #login_form {
    position: absolute;
    top: 2%;
    left: 30%;
    right: 30%;
    bottom: 20%;
    font-size: 38px;
}

body {
    background-image: url("../images/guest.jpeg");
}
</style>
<div id="login_form" align="center">
<h1 style="color:Black" align="center">Registration</h1>
    <form name="f1" method="post" action="/guestsignup" id="f1">
        <table>
            <tr>
                <td class="f1_label"></td><td><input type="text" name="fname" placeholder="First name" value="" id="fname" style="height: 35px" />
                </td>
            </tr>
            <tr>
                <td class="f1_label"></td><td><input type="text" placeholder="Last name" name="lname" value="" id="lname" style="height: 35px"/>
                </td>
            </tr>
            <tr>
                <td class="f1_label"></td><td><input type="password" name="password" placeholder="password" value="" id="lname" style="height: 35px"/>
                </td>
            </tr>
            <tr>
                <td class="f1_label"></td><td><input type="text" placeholder="email" name="email" value="" id="mail" style="height: 35px"/>
                </td>
            </tr>
            <tr>
                <td class="f1_label"></td><td><input type="text" placeholder="Mobile No" name="mobile" value=""  id="mobileno" style="height: 35px"/>
                </td>
            </tr>
            <tr>
            <tr>
                <td class="f1_label"></td><td><input type="text" name="city" placeholder="city" value="" id="city" style="height: 35px"/>
                </td>
            </tr>
            <tr>
                <td class="f1_label"></td><td><input type="text" name="pincode" placeholder="pincode" value="" id="pincode" style="height: 35px"/>
                </td>
            </tr>
            <!-- <div div style="text-align:center;">
                <td>
                    <input type="submit" name="login" value="Sign Up" style="font-size:18px;" />
                </td> -->
                </div>
            </tr>
        </table>
</form> 
          <button type="submit" name="guestlogin" value="Sign Up" style="border:hidden"><img src="../images/register.png" style="width: 150px"></button>

                 <!-- <input type="submit" name="guestlogin" value="Sign Up" style="font-size:18px; " /> -->
                  <!-- <a name="/login11" href="/guestlogin" >Have an Account</a> -->
  
    
</div>
</body>
</head>